<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel de Profesor</title>
    <!-- Vinculación correcta con Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg-light">
    <div id="app" data-v-app="">
      <div class="container mt-4">
        <h1 class="mb-4 text-center">Panel de Profesor</h1>
        <div class="d-flex gap-3 mb-4 justify-content-center">
          <button
            class="btn btn-primary"
            @click="ocultarCampo('registroAlumnos')"
          >
            {{ mostrarRegistroAlumnos ? 'Ocultar registro de alumnos' : 'Mostrar registro de alumnos' }}
          </button>
          <button
            class="btn btn-primary"
            @click="ocultarCampo('listadoAlumnos')"
          >
            {{ mostrarAlumnos ? 'Ocultar listado de alumnos' : 'Mostrar listado de alumnos' }}
          </button>
          <button
            class="btn btn-primary"
            @click="ocultarCampo('listadoEmpresas')"
          >
            {{ mostrarEmpresas ? 'Ocultar listado de empresas' : 'Mostrar listado de empresas' }}
          </button>
          <button
            class="btn btn-primary"
            @click="ocultarCampo('listadoContactos')"
          >
            {{ mostrarContactos ? 'Ocultar listado de contactos' : 'Mostrar listado de contactos' }}
          </button>
          <a href="index.html" class="btn btn-danger">Cerrar sesión</a>
        </div>

        <!-- Registro de Alumnos -->
        <div v-if="mostrarRegistroAlumnos">
          <h3 class="mt-3">Registro de Alumnos</h3>
          <div class="p-4 border shadow bg-white rounded">

            <label for="nombreCompleto" class="form-label mt-2"
              >Nombre Completo:</label
            >
            <input
              type="text"
              name="nombreCompleto"
              id="nombreCompleto"
              class="form-control"
              v-model="nuevoAlumno.nombre"
            />

            <label for="fechaNacimiento" class="form-label mt-2"
              >Fecha de Nacimiento:</label
            >
            <input
              type="date"
              name="fechaNacimiento"
              id="fechaNacimiento"
              class="form-control"
              v-model="nuevoAlumno.fechaNacimiento"
            />

            <label for="genero" class="form-label mt-2">Género:</label>
            <select name="genero" id="genero" class="form-select" v-model="nuevoAlumno.genero">
              <option value="">Seleccione una opción</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="Otro">Otro</option>
              <option value="Prefiero no decirlo">Prefiero no decirlo</option>
            </select>

            <label for="email" class="form-label mt-2"
              >Correo Electrónico:</label
            >
            <input type="email" name="email" id="email" class="form-control" v-model="nuevoAlumno.email" />

            <label for="telefono" class="form-label mt-2"
              >Número de Teléfono:</label
            >
            <input
              type="tel"
              name="telefono"
              id="telefono"
              class="form-control"
              pattern="[+][0-9]{2} [0-9]{9}"
              placeholder="+34 612345678"
              v-model="nuevoAlumno.telefono"
            />

            <label for="direccion" class="form-label mt-2">Dirección:</label>
            <textarea
              name="direccion"
              id="direccion"
              class="form-control"
              rows="3"
              v-model="nuevoAlumno.direccion"
            ></textarea>

            <label for="centroEducativo" class="form-label mt-2"
              >Centro Educativo:</label
            >
            <select
              name="centroEducativo"
              id="centroEducativo"
              class="form-select"
              v-model="nuevoAlumno.centroEducativo"
            >
              <option value="">Seleccione un centro</option>
              <option value="IES 1">IES 1</option>
              <option value="IES 2">IES 2</option>
            </select>
            <button
              @click="registrarAlumno"
              class="btn btn-danger btn-sm float-end mt-3"
            >
              Registrar
            </button>
          </div>
        </div>

        <!-- Listado de Alumnos -->
        <div v-if="mostrarAlumnos">
          <h3 class="mt-3">Listado de Alumnos</h3>
          <div class="p-4 border shadow bg-white rounded">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="alumno in listado" :key="alumno.id">
                  <td>{{ alumno.nombre }}</td>
                  <td>{{ alumno.email }}</td>
                  <td>{{ alumno.telefono }}</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Listado de Empresas -->
        <div v-if="mostrarEmpresas">
          <h3 class="mt-3">Listado de Empresas</h3>
          <div class="p-4 border shadow bg-white rounded">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Estado</th>
                  <th>Observaciones</th>
                  <th>Contacto</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="empresa in listadoEmpresas" :key="empresa.codigo">
                  <td>{{ empresa.nombre }}</td>
                  <td>{{ empresa.email }}</td>
                  <td>{{ empresa.telefono }}</td>
                    <td>
                    <select :class="estadoClase(empresa.estadoEmpresa)" class="form-select" v-model="empresa.estadoEmpresa">
                      <option :class="estadoClase(empresa.estadoEmpresa)" :value="empresa.estadoEmpresa">{{ empresa.estadoEmpresa }}</option>
                      <option v-if="empresa.estadoEmpresa !== 'Sin contactar'" :class="estadoClase('Sin contactar')" value="Sin contactar">Sin contactar</option>
                      <option v-if="empresa.estadoEmpresa !== 'Contactado'" :class="estadoClase('Contactado')" value="Contactado">Contactado</option>
                      <option v-if="empresa.estadoEmpresa !== 'Admite alumnos'" :class="estadoClase('Admite alumnos')" value="Admite alumnos">Admite alumnos</option>
                      <option v-if="empresa.estadoEmpresa !== 'No admite alumnos'" :class="estadoClase('No admite alumnos')" value="No admite alumnos">No admite alumnos</option>
                    </select>
                    </td>
                  <td>
                    <textarea class="form-control" rows="2" v-model="empresa.observaciones"></textarea>
                  </td>
                  <td>
                   {{ empresa.contacto }}
                    <button class="btn btn-info btn-sm">Contactar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Listado de Contactos -->
        <div v-if="mostrarContactos">
          <h3 class="mt-3">Listado de Contactos</h3>
          <div class="p-4 border shadow bg-white rounded">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="contacto in listadoContactosEmpresa" :key="contacto.empresaCodigo">
                  <td>{{ contacto.nombreContacto }}</td>
                  <td>{{ contacto.email }}</td>
                  <td>{{ contacto.telefono }}</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            listado: [],
            listadoEmpresas: [],
            listadoContactosEmpresa: [],
            nuevoAlumno: {
              nombre: '',
              clase: '',
              estado_practicas: '',
              fechaNacimiento: '',
              genero: '',
              email: '',
              telefono: '',
              direccion: '',
              centroEducativo: '',
              tutor:'',
              estadoAlumno: 'Activo',
              fechaInscripcion: new Date().toISOString().substr(0, 10),
              fotoPerfil: '',
              notasAcademicas: '',
              observaciones: ''
            },
            mostrarRegistroAlumnos: false,
            mostrarAlumnos: false,
            mostrarEmpresas: false,
            mostrarContactos: false
          };
        },
        mounted() {
          axios
            .get("http://localhost:3000/alumnos")
            .then((response) => {
              this.listado = response.data;
            })
            .catch((error) => {
              console.error("Hubo un error al cargar los datos de alumnos:", error);
            });

          axios
            .get("http://localhost:3000/empresas")
            .then((response) => {
              this.listadoEmpresas = response.data;
            })
            .catch((error) => {
              console.error("Hubo un error al cargar los datos de empresas:", error);
            });

          axios
            .get("http://localhost:3000/contactosEmpresas")
            .then((response) => {
              this.listadoContactosEmpresa = response.data;
            })
            .catch((error) => {
              console.error("Hubo un error al cargar los datos de contactos de empresas:", error);
            });
        },
        methods: {
          estadoClase(estado) {
            switch (estado) {
              case "No admite alumnos":
                return "bg-danger text-white";
              case "Contactado":
                return "bg-warning text-dark";
              case "Admite alumnos":
                return "bg-primary text-white";
              case "Sin contactar":
                return "bg-success text-white";
              default:
                return "";
            }
          },
          ocultarCampo(seccion) {
            this.mostrarRegistroAlumnos = false;
            this.mostrarAlumnos = false;
            this.mostrarEmpresas = false;
            this.mostrarContactos = false;

            if (seccion === "registroAlumnos") {
              this.mostrarRegistroAlumnos = true;
            } else if (seccion === "listadoAlumnos") {
              this.mostrarAlumnos = true;
            } else if (seccion === "listadoEmpresas") {
              this.mostrarEmpresas = true;
            } else if (seccion === "listadoContactos") {
              this.mostrarContactos = true;
            }
          },
          registrarAlumno() {
    axios
      .post("http://localhost:3000/anadeAlumno", this.nuevoAlumno)
      .then((response) => {
        alert(`Alumno ${this.nuevoAlumno.nombre} registrado`);
        this.listado.push(this.nuevoAlumno);
        this.nuevoAlumno = {
          nombre: '',
          clase: '',
          estado_practicas: '',
          fechaNacimiento: '',
          genero: '',
          email: '',
          telefono: '',
          direccion: '',
          centroEducativo: '',
          tutor: '',
          estadoAlumno: 'Activo',
          fechaInscripcion: new Date().toISOString().substr(0, 10),
          fotoPerfil: '',
          notasAcademicas: '',
          observaciones: ''
        };
      })
      .catch((error) => {
        console.error("Error al registrar el alumno:", error);
      });
    },
          actualizarAlumno(codigo) {
            alert(`Alumno ${codigo} actualizado`);
          },
          actualizarEmpresa(codigo) {
            alert(`Empresa ${codigo} actualizada`);
          },
          actualizarContacto(codigo) {
            alert(`Contacto ${codigo} actualizado`);
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>